<h1>Activity2</h1>

<p>
2)<a href="http://uppic.sodazaa.com/share.php?id=F2D1_58FDCD5D"><img src="http://uppic.sodazaa.com/thumb.php?id=F2D1_58FDCD5D" border="0"></a><br><br>

3) <a href="http://uppic.sodazaa.com/share.php?id=B659_58FDCD5D"><img src="http://uppic.sodazaa.com/thumb.php?id=B659_58FDCD5D" border="0"></a>
To insert the picture before Instructor “Serena Yeung" We go to the html element by right click the screen and chose inspect<br>
after that we find the container of the instructor. After finding the container we going to find the instructor Serena Yeung <br>
after that we edit the div of Serena Yeung by copy the html code of instructor and paste it under Serena div after that we edit the name and the photo to what we want. <br>


4)I think the class that change all the time is class "actmap" because this is the main picture for other layer,<br>
 so if there will be a changing code it need to be here.<br>

 For the code I think this code might be use because I already think that it need to use math.random so when I find this code I think it might be it.<br>

  function shuffle(o) {<br>
    for(var j, x, i = o.length; i; j = Math.floor(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);<br>
    return o;<br>
}<br>


5) After Random picture, the picture will be manipulate by using CIFAR-10 which is a javascipt code I know this from clicking "?" button<br> 
and it told me that it use this method. <br> </p>

6)set g.data to g.data[0,0,255,255]. Change green[0,255,0,255] to blue [0,0,255,255];





